.profile_img {
    width: 120px;
    min-height: 120px;
    max-height: auto;
    background-color: lightgray;
    margin-top: -12%;
    margin-left: 38%;
    align-content: center;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 1;
}

img{
    width: 100%;
    height: auto;
    z-index: 2;
}

.edit_btn {
    position: sticky;
    background-color: tomato;
    width: min-content;
    padding: 4px;
    border-radius: 50%;
    margin-left: 56%;
    margin-top: -35px;
    z-index: 10;
    border:2px solid whitesmoke ;
    box-shadow: 5px 5px  10px lightgray;
}

.edit_icon{
    color:white;
    z-index: 9;
}
    

#fileInput{
    display: none;
  }